body
{
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

header
{
    text-align: center;
    background-image: url('n1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 20%;
    font-size: 25px;
    color: rgb(246, 248, 248);
    font-family: georgia;
}

main
{
    padding: 19px;
    font: size 15px;
    text-emphasis-color: rgb(255, 0, 234);
}
h1 {
    color: blue;
    font-family: verdana;
    font-size: 200%;
    text-align: center;
  }
p 
{
    font-size: 16px;
    color: #d41010;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}
ul
{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}

.btn-group button {
    background-color: #0a04aa; 
    border: 1px solid green; 
    color: white; 
    padding: 10px 24px;
    cursor: pointer; 
    /* width: 35%;  */
    display: block;
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; 
  }
  
  .btn-group button:hover {
    background-color: #3e8e5a;
  } 

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(177, 16, 16);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }